html {
	background-color: skyblue;
}

body * {
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}

h1 {
	margin: 0;
}

.outer-wrapper {
	max-width: 800px;
	padding: 50px;
	margin: 0 auto;
}

.logo {
	height: 35px;
	text-align: center;
	display: block;
	margin: 0 auto;
	margin-bottom: 30px;
}

.signup {
	background-color: white;
	border-radius: 5px;
	padding: 40px;
	width: 400px;
	margin: 0 auto;
}

.heading {
	font-weight: normal;
	text-align: center;
	color: #565656;
	margin-bottom: 20px;
}

label {
	display: block;
	margin-bottom: 20px;
}

input {
	display: block;
	width: 320px;
	margin-bottom: 20px;
	padding: 15px;
	border: 2px solid #e7e7e7;
	background-color: #fcfcfc;
}

input::placeholder {
	color: #a9a9a9;
}